body,
h2,
h3 {
	color: #444
}

h1,
h2,
h3 {
	line-height: 20px
}

#copyright,
#footer_title,
a.default,
body,
div.menu ul li a,
div.toggler,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Verdana, Arial, Helvetica, sans-serif
}

blockquote,
body,
button,
code,
div,
fieldset,
form,
h1,
h2,
h3,
input,
legend,
li,
p,
pre,
textarea {
	margin: 0;
	padding: 0
}

body {
	font-size: .8125em;
	line-height: 18px
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: 400
}

#copyright a,
#footer_title,
a.default,
a.default:hover,
h3 {
	font-weight: 700
}

h1 {
	font-size: 1.55em;
	color: #002525
}

h2 {
	font-size: 1.25em
}

h3 {
	font-size: 1.15em
}

#container {
	width: 948px;
	padding-left: 10px;
	margin-left: auto;
	margin-right: auto
}

#header {
	float: left;
	width: 918px;
	padding: 0 15px;
	color: #970808
}

#header_title {
	float: left;
	margin: 0;
	padding: 15px 0 0 15px
}

#header_title span {
	border-left: 2px solid #fcc;
	margin: 0;
	padding: 5px 0 5px 5px;
	text-shadow: #fcc 2px 2px 2px;
	line-height: 3.45em;
	font-size: 1.75em
}

#header_menu a,
#header_menu a:active,
#header_menu a:link,
#header_menu a:visited,
#header_title a,
#header_title a:active,
#header_title a:hover,
#header_title a:link,
#header_title a:visited {
	color: #fcc;
	text-decoration: none
}

#header_menu {
	float: right;
	position: relative;
	left: -45px;
	top: 65px
}

#header_menu span {
	margin: 0;
	border-left: 1px solid #fcc;
	line-height: 1.25em;
	padding: 1px 5px;
	font-size: 1.05em
}

#header_menu a:hover {
	text-decoration: underline
}

#home_btn {
	float: left;
	margin: 0;
	padding: 0;
	width: 94px;
	height: 82px;
	text-decoration: none;
	border: none;
}

#content,
div.toggler {
	background-color: #fff
}

#content {
	float: left;
	width: 918px;
	padding: 10px 14px 0
}

#left {
	float: left;
	width: 215px
}

#right {
	float: right;
	width: 645px;
	min-height: 300px;
	padding: 5px 15px
}

#blanc {
	clear: both;
	width: 918px;
	padding: 10px 0;
	margin-left: auto;
	margin-right: auto
}

#block {
	padding-bottom: 25px;
	width: 92%
}

hr {
	border-width: 1px 0 0;
	border-style: solid;
	border-color: #eb6b02
}

.shadow {
	-moz-box-shadow: 3px 3px 5px 3px #ccc;
	-webkit-box-shadow: 3px 3px 5px 3px #ccc;
	box-shadow: 3px 3px 5px 3px #ccc;
}

img {
	border-width: 0
}

img.headermenuitem {
	margin: 0 5px 0 0;
	padding: 0;
	width: 24px;
	height: 24px;
	text-decoration: none;
	border: none;
	vertical-align: middle
}

td,
th {
	vertical-align: top
}

a.default:hover,
div.toggle {
	border-style: solid;
	border-width: 0 0 1px
}

label.mandatory {
	color: red
}

div.toggler {
	display: block;
	width: 520px;
	font-size: 1em;
	line-height: 24px;
	cursor: pointer;
	padding: 0 0 5px
}

div.toggle {
	display: block;
	margin: 5px 10px;
	padding: 0 0 10px;
	width: 450px;
	border-color: #ffe4ad
}

.rounded-corners {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px
}

div.aanmelden {
	float: right;
	width: 185px;
	margin: 25px auto;
	border-width: 1px;
	border-color: #eb6b02;
	border-style: solid;
	background-color: #ffe4ad
}

div.aanmelden span {
	float: right;
	padding: 6px 5px;
	color: #ec1b2e;
	font-size: 1.45em;
	font-style: italic;
	text-align: center
}

div.aanmelden span:hover {
	text-decoration: underline
}

#copyright a,
a.default,
div.menu ul li a,
ol#controls li a {
	text-decoration: none
}

table {
	padding: 0;
	margin: 0
}

th {
	padding: 1px 7px;
	background-color: #F2A950;
	white-space: nowrap;
	border: 1px solid;
	border-color: #eee #bbb #bbb #eee
}

td {
	padding: 5px 7px;
	margin: 0;
	white-space: wrap
}

td:link,
td:visited,
tr.tar:link,
tr.tar:visited {
	background-color: #fff;
	color: #444
}

td:link,
td:visited,
tr.tar:active,
tr.tar:hover {
	background-color: #eee;
	color: #974908
}

a.default {
	padding: 2px;
	background-color: #eee;
	font-size: 1em;
	color: #444
}

a.default:hover {
	background-color: #eee;
	border-color: #099509;
	color: #099509
}

#copyright a,
#footer {
	border-style: solid;
	background-color: #018d8d;
	border-width: 0 0 1px
}

#footer {
	clear: both;
	width: 918px;
	height: 38px;
	padding: 3px 15px;
	border-color: #077070
}

#footer_title {
	font-size: .87em;
	text-align: center;
	color: #002525
}
#footer_title a{
	font-size: 15px;
	color: black;
}

#copyright {
	font-size: .8em;
	text-align: center;
	color: #002525
}

#copyright a {
	padding: 2px;
	color: #002525
}

div.menu ul,
div.menu ul li a {
	display: block;
	background-color: #fff
}

.navy {
	list-style-image: none;
}
navy:before {
    color: #3B4D86;
    float: left;
    margin: 0 0 0 -1em;
    width: 1em;
    content: '\25A0';
}
.pink {
	list-style-image: none;
}
.pink:before {
    color: #D5B3C5;
    float: left;
    margin: 0 0 0 -1em;
    width: 1em;
    content: '\25A0';
}

.green {
	list-style-image: none;
}
.green:before {
    color: #96A793;
    float: left;
    margin: 0 0 0 -1em;
    width: 1em;
    content: '\25A0';
}

.olive {
	list-style-image: none;
}
.olive:before {
    color: #E0EFDF;
    float: left;
    margin: 0 0 0 -1em;
    width: 1em;
    content: '\25A0';
}

.orange {
	list-style-image: none;
}
.orange:before {
    color: #C76520;
    float: left;
    margin: 0 0 0 -1em;
    width: 1em;
    content: '\25A0';
}

.nostyle {
	list-style: none
}

.nomargin {
	margin: 0;
	padding: 0
}

.green li,
.navy li,
.nostyle li,
.olive li,
.orange li,
.pink li {
	text-align: left
}

div.menu ul,
div.menu ul li {
	list-style: none;
	margin: 0;
	padding: 0
}

div.menu ul {
	width: 205px;
	border-width: 0 1px 0 0;
	border-style: solid;
	border-color: #eb6b02
}

div.menu ul li a {
	width: 201px;
	height: 22px;
	padding: 2px;
	font-size: 1em;
	color: #444
}

div.menu ul li a:hover,
div.menu ul li.active a,
div.menu ul li.current a {
	width: 197px;
	height: 22px;
	background-color: #eee;
	border-width: 0 5px 0 0;
	border-style: solid;
	border-color: #eb6b02;
	color: #974908
}

div.bericht {
	width: 100%;
	padding: 0 0 15px;
	margin: 0;
	border-width: 0 0 1px;
	border-style: solid;
	border-color: #ffe4ad
}

div.contentWrap {
	height: 465px;
	background:rgba(255,255,255);
	overflow-x: hidden;
	border-radius: 5px;
	box-shadow: 0 0 50px 1px rgb(105, 105, 105);
}
div.contentWrap .incontentwrap{
	float: left;
	width: 625px;
	padding: 5px;
	margin-left: 10px;
	margin-top: 10px;
	border-color: #eb6b02;
	border-width: 0 0 1px 1px;
	border-style: solid;
}

div.overlay {
	width: 680px;
	padding: 35px;
	height: 465px;
	position: fixed;
	z-index: 3;
	top: 51.4px;
	left: 464px;
	display: block;
}

div.overlay .close {
	position: absolute;
	right: 5px;
	top: 5px;
	cursor: pointer;
	height: 35px;
	width: 35px
}

#slider ul li a img {
	max-width: 100%;
    margin: 0 auto;
    max-height: 100%;
}
#slider ul li a {
	position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    display: grid;
    transform: translateY(-50%);
}

#slider li,
#slider ul,
#slider2 li,
#slider2 ul {
	margin: 0;
	padding: 0;
	list-style: none
}

#slider2 {
	margin-top: 1em
}

#slider li,
#slider2 li {
	width: 918px;
	height: 318px;
	overflow: hidden
}

ol#controls {
	margin: 1em 0;
	padding: 0;
	height: 20px;
	display: none
}

ol#controls li {
	margin: 0 10px 0 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 20px;
	line-height: 20px
}

ol#controls li a {
	float: left;
	height: 20px;
	line-height: 20px;
	border: 1px solid #ccc;
	background-color: #F2A950;
	font-size: .875em;
	color: #555;
	padding: 0 8px
}

input.eform,
select.eform,
textarea.eform {
	padding: 1px;
	margin: 3px;
	border-style: solid;
	border-color: #bbb
}

ol#controls li.current a {
	background: #F2A950;
	color: #fff
}

button,
input,
label.eform,
optgroup,
option,
select,
textarea {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #444
}

ol#controls li a:focus {
	outline: 0
}

button,
input,
optgroup,
option,
select,
textarea {
	font-style: inherit;
	font-weight: inherit;
	font-size: 99%
}

label.eform {
	float: left;
	display: block;
	width: 90px;
	max-width: 90px;
	margin: 3px
}

input.eform,
select.eform {
	border-width: 0 0 1px
}

textarea.eform {
	border-width: 1px
}

div.buttons {
	margin-left: 96px;
	padding: 1px
}

button,
button.button,
input.button {
	padding: 2px 3px
}

div.clearleft {
	clear: left
}

fieldset {
	border-width: 0
}


/* #content #block p{
  font-size: 13px;
} */


/* eventpage */
.overflow {
	display: none;
}

.exposeMask {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: block;
	opacity: 0.8;
	z-index: 2;
	background-color: lightgrey;
}
.callout-success{
	color:green;
}
.callout-info{
	color:blue;
}
.callout-warning{
	color:orangje;
}
.callout-danger{
	color:red;
}
a.contacticon{
	text-decoration:none;
}
#footer_title span {
    margin-left: 5px;
}
