<div class="container">
    <section class="content-header">
        <h1>
            Waypoints van race: {{this._oldid}}
        </h1>
    </section>
    <section class="content">
        <div class="row">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>naam</th>
                </tr>
                </thead>
                <tbody>
                {{#each data}}
                    <tr>
                        <td>{{this._id}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
                <button onclick="location.href=window.location.href.split('?')[0]+'/create'" type="button">Waypoint toevoegen</button>
            </div>
        </div>
    </section>
</div>
