<div class="container">
    <section class="content-header">
        <h1>
            Races
        </h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="box box-body">
                {{#each data}}
                    <div class="waypointblock">
                        <h2>waypoint naam: {{this._id}}</h2>
                    </div>
                {{/each}}
            </div>
        </div>
    </section>
</div>
