<div class="container">
    <section class="content-header">
        <h1>
            Races Aanmaken
        </h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="box box-body">
                <form id="formpage" action="" method="POST">
                    <div class="form-group">
                        <label>Naam: </label>
                        <input type="text" name="name" required autofocus>
                    </div>
                    <div class="box-footer">
                        <button onclick=" " type="button">Opslaan</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
