<div class="container">
    <section class="content-header">
        <h1>Races Aanmaken</h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="box box-body">
                <form id="formpage" class="editrace" action="/races/{{data}}" method="PUT">
                    <div class="form-group">
                        <label>Oude naam: </label>
                        <input type="text" name="old" value="{{data}}"  disabled="disabled">
                    </div>
                    <div class="form-group">
                        <label>Nieuwe naam: </label>
                        <input type="text" name="_id" required autofocus>
                    </div>
                    <div class="box-footer">
                        <input type="submit" onclick=" " type="button" value="Opslaan">
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
