<div class="container">
    <section class="content-header">
        <h1>
            Races
        </h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="box box-body">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>naam</th>
                        <th>Aan</th>
                        <th>opties</th>
                    </tr>
                    </thead>
                    <tbody>
                    <p>{{isAdmin}}</p>
                    {{#each data}}
                        {{#if this.isStarted}}
                        <tr>
                            <td>{{this._id}}</td>
                            <td>
                                {{#if this.isStarted}}
                                        ja
                                {{else}}
                                        nee
                                {{/if}}
                            </td>
                            <td>
                                    <form action="/races/{{this._id}}">

                                        <input type="submit" value="Ga naar Race" />
                                    </form>
                            </td>
                         </tr>
                    {{/if}}
                    {{/each}}
                    </tbody>
                </table>

            </div>
        </div>
    </section>
</div>
